<table class="highlight mb2">
  <thead>
  <tr>
    <th>№</th>
    <th>Образец</th>
    <th>Дата создания</th>
    <th>Создатель</th>
    <th>Дата закрытия</th>
    <th>Сдавший</th>
    <th>Статус</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.order}}</td>
    <td>{{order.name}}</td>
    <td>{{order.date | date:'dd.MM.yyyy  в HH:mm'}}</td>
    <td>{{order.userName}}</td>
    <td>{{order.endDate | date:'dd.MM.yyyy  в HH:mm'}}</td>
    <td>{{order.endUserName}}</td>
    <td>{{order.orderStatus}}</td>
    <td></td>
    <td>
      <button class="btn btn-small grey darken-1" (click)="selectOrder(order)">
        <i class="material-icons">open_in_new</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>


<div class="modal modal-fixed-footer" #modal>
  <div class="modal-content" *ngIf="selectedOrder">
    <h4 class="mb1">Заказ №{{selectedOrder.order}}</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Название</th>
        <th>Значение</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of selectedOrder.list">
        <td>{{item.name}}</td>
        <td>{{item.content}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" (click)="submit()">
      Отправить в Архив
    </button>
  </div>
</div>
